body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.section {
  margin-top: 20px;
}

.file-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input {
  margin-bottom: 10px;
}

.upload-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.upload-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.upload-message {
  margin-top: 10px;
  font-weight: bold;
  color: #4caf50;
}

.chart-container {
  margin-top: 20px;
  text-align: center;
}

.chart {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}
